<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Soap" connectionString="Data Source=VICTORPAUCAS\VICTORPAUCAS;Initial Catalog=Soap;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!-- Ventas.Comprobantes -->
    <add key="ComprobanteActualizar" value="Ventas.ActualizarComprobante"/>
    <add key="ComprobanteRegistrar" value="Ventas.RegistrarComprobante"/>
    <add key="ComprobanteEliminar" value="Ventas.EliminarComprobante"/>
    <add key="ComprobanteObtener" value="Ventas.ObtenerComprobante"/>
    <add key="ComprobanteListar" value="Ventas.ListarComprobante"/>

    <!-- Ventas.ComprobantesProductos -->
    <add key="ComprobanteProductoActualizar" value="Ventas.ActualizarComprobanteProducto"/>
    <add key="ComprobanteProductoRegistrar" value="Ventas.RegistrarComprobanteProducto"/>
    <add key="ComprobanteProductoEliminar" value="Ventas.EliminarComprobanteProducto"/>
    <add key="ComprobanteProductoObtener" value="Ventas.ObtenerComprobanteProducto"/>
    <add key="ComprobanteProductoListar" value="Ventas.ListarComprobanteProducto"/>
    <add key="ComprobanteProductoListarPorIdentificadorComprobante" value="Ventas.ListarComprobanteProductoPorIdentificadorComprobante"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
